META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=act_XXXXXXXXX

GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_CUSTOMER_ID=

LIDERHUB_TOKEN_APD=
LIDERHUB_AUTH_HEADER=x-company-key
LIDERHUB_BASE_URL=https://api.liderhub.com.br/v1

SYNC_SECRET=
